@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 68.5%; }

body {
  box-sizing: border-box;
  background-color: #171717; }

.nav__bar {
  padding: 2.4rem 13rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 7.2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 2;
  background: #171717; }
  .nav__bar__logo__name > h3 {
    font-size: 2rem;
    font-weight: 500;
    font-family: "silkaregular", sans-serif; }
    .nav__bar__logo__name > h3 > span:first-child {
      color: rgba(219, 52, 43, 0.9); }
    .nav__bar__logo__name > h3 > span:last-child {
      background-image: radial-gradient(farthest-side at 100% 70%, #F5F2E4, #F9A334);
      -webkit-background-clip: text;
      color: transparent; }
  .nav__bar__links > ul {
    list-style: none;
    display: flex;
    gap: 3.6rem; }
    .nav__bar__links > ul > li {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 500;
      font-size: 1.6rem;
      font-family: "DM Sans", sans-serif; }

.content {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .content.content__top {
    margin: auto auto; }
  .content__heading {
    position: relative; }
    .content__heading > h1 {
      font-weight: 600;
      font-family: "silkaregular", sans-serif;
      line-height: 10.1rem;
      font-size: 7rem;
      text-align: center; }
    .content__heading > h1 > span {
      background-image: radial-gradient(farthest-side at 100% 70%, #F5F2E4, #F9A334);
      -webkit-background-clip: text;
      color: transparent;
      display: block; }
    .content__heading > .under__love {
      position: absolute;
      height: fit-content;
      top: 0;
      right: -3%;
      top: 46%; }
  .content__description {
    margin-top: 2.6rem;
    max-width: 66.3rem; }
    .content__description > p {
      font-family: "silkaregular", sans-serif;
      font-size: 2rem;
      line-height: 2.6rem;
      color: rgba(255, 255, 255, 0.5);
      width: calc(100% - 20%);
      margin: 0 auto;
      text-align: center; }
  .content__search {
    margin-top: 5rem;
    max-width: 66.3rem;
    background-color: rgba(255, 255, 255, 0.09);
    display: flex;
    width: 100%;
    height: fit-content;
    padding: .6rem .6rem .6rem 2rem;
    gap: .5rem;
    border-radius: 1.6rem; }
    .content__search > input {
      background-color: transparent;
      flex: 1;
      border: none;
      outline: none;
      font-family: "silkaregular", sans-serif;
      font-size: 1.8rem;
      color: #ffffff; }
    .content__search > button {
      background-color: rgba(219, 52, 43, 0.8);
      border-radius: 1rem;
      font-family: "silkaregular", sans-serif;
      padding: 1.9rem 2.7rem;
      box-shadow: none;
      outline: none;
      border: none;
      font-size: 2rem;
      color: #ffffff; }
  .content.content__bg {
    margin-top: 8.6rem;
    position: static;
    height: 100%;
    width: 100%;
    padding: 0 5%;
    background-image: url("../../../img/background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    height: 100vh; }
    .content.content__bg > img {
      object-fit: cover;
      width: 100%; }
  .content__cards {
    display: flex;
    flex-direction: column;
    gap: 2.4rem 0; }
    .content__cards::after {
      content: '';
      width: 100%;
      height: 100%;
      background: black; }
  .content__cards > .card {
    background: linear-gradient(163.9deg, rgba(236, 234, 234, 0.056) 0%, rgba(255, 255, 255, 0) 106.55%);
    backdrop-filter: blur(13rem);
    border-radius: 2.6736rem;
    padding: 3rem;
    width: 91.1rem; }
    .content__cards > .card > p {
      font-family: "silkaregular", sans-serif;
      font-size: 1.8rem;
      line-height: 2.7rem;
      font-weight: bold;
      position: relative;
      display: flex;
      color: rgba(255, 255, 255, 0.7); }
    .content__cards > .card > p > span:nth-child(2) {
      padding: 0 2rem;
      text-align: justify; }
    .content__cards > .card > p > span:last-child {
      align-self: flex-end; }
    .content__cards > .card > .share {
      display: flex;
      margin-top: 4.4rem;
      gap: 1.5rem;
      justify-content: flex-end; }
    .content__cards > .card > .share > button {
      border: 1px solid #3FC96A;
      border-radius: 1rem;
      width: 14rem;
      height: 5.1rem;
      border: none;
      outline: none;
      font-size: 1.4rem;
      font-family: "silkaregular", sans-serif;
      font-weight: 600;
      color: rgba(63, 201, 106, 0.9); }
      .content__cards > .card > .share > button:first-child {
        background: transparent;
        border: 1px solid #3FC96A; }
      .content__cards > .card > .share > button:last-child {
        background: rgba(140, 238, 151, 0.15); }
