
.nav__bar {
    padding: 2.4rem 13rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7.2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 2;
    background: $primary_color;

    &__logo__name > h3 {
        font-size: 2rem;
        font-weight: 500;
        font-family: $silka;

        & > span:first-child {
            color: rgba($dark_orange, .9);
        }
        & > span:nth-child(2) {
            background-image: $radient_gradient;
            -webkit-background-clip: text;
            color: transparent;
        }
    }

    &__links > ul {
        list-style: none;
        display: flex;
        gap: 3.6rem;

        & > li {
            color: rgba($color_white, .6);
            font-weight: 500;
            font-size: 1.6rem;
            font-family: $dm_sans;
        }
    }

    @media #{$xs_mobile} {
        padding: 2.4rem 5rem;
    }
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    

    &.content__top {
        margin: auto auto;
    }

    &__heading {
        position: relative;

        & > h1 {
            font-weight: 600;
            font-family: $silka_bold;
            line-height: 10.1rem;
            font-size: 7rem;
            text-align: center;

            @media #{$xs_mobile} {
                font-size: 6rem;
                padding: 0 4.4rem;
                line-height: 123%;
            }

        }
        & > h1 > span {
            background-image: $radient_gradient;
            -webkit-background-clip: text;
            color: transparent;
            display: block;
        }

        & > .under__love {
            position: absolute;
            height: fit-content;
            top: 0;
            right: -3%;
            top: 46%;
            display: initial;

            @media #{$xs_mobile} {
                display: none !important;
            }
        }

    }

    &__description {
        margin-top: 2.6rem;
        max-width: 66.3rem;

        & > p {
            font-family: $silka;
            font-size: 2rem;
            line-height: 2.6rem;
            color: rgba($color_white, .5);
            width: calc(100% - 20%);
            margin: 0 auto;
            text-align: center;

            & > span {
                font-weight: bold;
                font-style: italic;
            }

            @media #{$xs_mobile} {
                font-size: 2.5rem;
                line-height: 128%;
            }
        }
    }

    &__search {
        margin-top: 5rem;
        max-width: 66.3rem;
        background-color: $light_dark;
        display: flex;
        width: 100%;
        height: fit-content;
        padding: .6rem .6rem .6rem 2rem;
        gap: .5rem;
        border-radius: 1.6rem;

        & > input {
            background-color: transparent;
            flex: 1;
            border: none;
            outline: none;
            font-family: $silka;
            font-size: 1.8rem;
            color: $color_white;
        }

        & > button {
            background-color: rgba($dark_orange, .8);
            border-radius: 1rem;
            font-family: $silka;
            padding: 1.9rem 2.7rem;
            box-shadow: none;
            outline: none;
            border: none;
            font-size: 2rem;
            color: $color_white;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover {
                background-color: rgba($dark_orange, .5);
            }
            @media #{$xs_mobile} {
                padding: 2.6rem 2.7rem;
    
            }
        }

        @media #{$xs_mobile} {
            max-width: 58.3rem;
            padding: 1rem 1rem 1rem 2rem;

        }

    }


    // ***************
    // ***************
    // ***************

    // The last part

    &.content__bg {
        margin-top: 8.6rem;
        position: static;

        height: 100%;
        width: 100%;
        padding: 0 5%;

        background-image: url("assets/img/background.png");
        background-repeat: no-repeat;
        background-position: bottom;
        background-attachment: fixed;
        height: 100vh;

        & > img {
            object-fit: cover;
            width: 100%;
        }

        @media #{$xs_mobile} {
            background-position: center;
            background-image: url("assets/img/mobile.png");
          }
    }
    &.content__position {
        position: absolute;
        top: 87%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: 2.4rem 0;
        width: calc(100% - 20%);
        
        @media #{$laptop} {
            width: calc(100% - 35%);
        }
        @media #{$large_screens} {
            width: calc(100% - 35%);
            max-width: 60%;
        }
        @media #{$xs_mobile} {
            width: calc(100% - 6%);
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background: $color_black;

        }
    }
    &__cards > .card {
        
        background: linear-gradient(163.9deg, rgba(236, 234, 234, 0.056) 0%, rgba(255, 255, 255, 0) 106.55%);
        backdrop-filter: blur(13rem);
        border-radius: 2.6736rem;
        padding: 3rem;

        & > p {
            font-family: $silka;
            font-size: 1.8rem;
            line-height: 2.7rem;
            font-weight: bold;
            position: relative;
            display: flex;
            color: rgba($color_white, .7);
        }

        i {
            background-image: $radient_gradient;
            -webkit-background-clip: text;
            color: transparent;
            text-transform: none;
            font-style: normal;
            font-family: $silka_bold;
        }

        svg {

            @media #{$xs_mobile} {
                width: 5rem;
                height: 2rem;
            }

        }

        & > p > span:nth-child(2) {
            padding: 0 2rem;
            text-align: justify;
        }
        & > p > span:last-child {
            align-self: flex-end;
        }
        & > .share {
            display: flex;
            margin-top: 4.4rem;
            gap: 1.5rem;
            justify-content: flex-end;

            @media #{$xs_mobile} {
                justify-content: center;
            }
        }
        & > .share > button {
            border: 1px solid #3FC96A;
            border-radius: 1rem;
            width: 14rem;
            height: 5.1rem;
            border: none;
            outline: none;
            font-size: 1.4rem;
            font-family: $silka;
            font-weight: 600;
            color: rgba(63, 201, 106, 0.9);
            transition: all .3s ease-in-out;

            &:first-child {
                background: transparent;
                border: 1px solid #3FC96A;
            }
            &:last-child {
                background: rgba(140, 238, 151, 0.15);
            }
            &:hover {
                cursor: pointer;
                background-color: rgba(140, 238, 151, 0.15);
                color: rgba(63, 201, 106, 0.9);
            }
        }
    }


}

.contributor {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    display: flex;
    gap: .6rem;
    align-items: center;

    & > span > svg {
        width: 3rem;
        height: 3rem
    }

    & > p {
        font-size: 1.3rem;
        color: $color_white;
    }
}