// colors
$primary_color: #171717;
$dark_orange:#DB342B;
$color_white: #ffffff;
$radient_gradient: radial-gradient(farthest-side at 100% 70%,#F5F2E4, #F9A334, );

$light_dark: rgba(255, 255, 255, 0.09);

// fonts
$silka: "silkaregular", sans-serif;
$dm_sans: 'DM Sans', sans-serif;